body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-grid-4-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 'recipes searchGrid';
  gap: 1em;
  margin: 1em;
}

.search-column {
  grid-area: 'searchGrid';
  padding: 0.5em;
}

.cards-container {
  grid-area: 'recipes';
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: space-around;
}

.show-on-collapse {
  display: none;
 }

@media only screen and (min-width: 1000px) {
  .search-column {
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 0.3em;
  }
}

@media only screen and (max-width: 1000px) {
  .page-grid-4-1 {
    grid-template-columns: 100%;
    grid-template-areas: 'recipes' 'searchGrid';
  }
  .search-column {
    grid-row: 1;
    width: 85%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
  }
 .search-column p {
  align-self: center;
 }
 .hide-on-collapse {
  display: none;
 }
 .show-on-collapse {
  display: block;
 }
}

/* Elements */ 

.fav-hover {
  opacity: 0.7;
  transition: 0.1s;
}

.fav-hover:hover {
  opacity: 1;
  transition: 0.1s;
}

.view-link-button {
  font-size: large;
  border: solid 1px #1b8f47;
  background-color: white;
  color: #1b8f47;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em;
}

.view-link-button:hover {
  background-color: #1b8f47;
  color: white;
}

.recipe-div {
  background-color: #eff1cf;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1em;
}

#scroll-button {
  display: none;
  position: fixed;
  right: 1em;
  bottom: 1em;
  opacity: 0.5;
}

#scroll-button:hover {
  opacity: 1;
}















.simple-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.page-title {
  color: #94d333;
  text-align: center;
  margin: 0.5em;
}

.link-button {
  font-size: large;
  background-color: #1b8f47;
  color: white;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.link-button2 {
  width: 100%;
  font-size: large;
  background-color: #1b8f47;
  color: white;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 1em;
}

.edit-link {
  background-color: #ffc107;
  color: black;
  border-radius: 0.2em;
  padding: 0.1em 0.5em 0.4em
}

.edit-link:hover {
  color: black;
  background-color: #E4A11B;
}


.p-type-1 {
  text-align: center;
  color: #754423;
}

.fine {
  transform: translate(-50%, -50%)
}

.recipe-search {
  display: flex;
  gap: 1em
}