.set-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage1 {
  transition: 1s;
  transform: scale(50%);
  opacity: 0;
}

.stage2 {
 transition: 1s;
 transform: scale(100%);
 opacity: 1;
}

.stage3 {
  opacity: 0;
}

@media only screen and (orientation: portrait) {
  #lemon {
    width: 50%;
    height: auto;
  }
}

@media only screen and (orientation: landscape) {
  #lemon {
    height: 50%;
    width: auto;
  }
}