#links {
  font-size: large;
  color: #754423;
  padding: 0 1em;
  text-decoration: none;
}

#links:active {
  font-weight: 700;
}

.page-title {
  color: #754423;
  text-align: center;
  margin: 0.5em;
}
