.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: solid 1px #704021;
  border-radius: 0.3em;
  padding: 1em;
  background: rgba(148,211,51,0.2)
}

.one-line {
  display: flex;
  justify-content: space-between; 
  gap: 1em
}

.one-line > .new-rec-label {
  min-width: 4em;
}

.new-rec-label {
  font-weight: 700;
  color: #704021;
  margin: 0
}

.box {
  background-color: white;
  border: solid 1px black;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }

  .box > input {
    width: 100%;
  }

  .box > label {
    align-self: flex-start;
  }
}

@media only screen and (min-width: 601px) {
  .box > input[name='ingredient'] {
    width: 65%;
  }
  .box > input[name='quantity'] {
    width: 5%;
  }
  .box > input[name='measure'] {
    width: 20%;
  }
}
