.no-padding {
  padding: 0;
}

.profile-tabs-container {
  width: 100%;
}

.simple-align {
  display: flex; 
  flex-direction: row; 
  gap: 1em
}

td {
  padding: 0.5em 1em;
}

.plain-user-info {
  width: 500px;
  max-width: 90%;
  flex-direction: column; 
  gap: 0.5em;
  border: solid 1px rgba(0,0,0,0.3);
  padding: 1em;
  border-radius: 0.5em;
}

.link-button:hover {
  color: white;
  background-color: #28a745;
}

.link-button:active {
  background-color: #28a745;
}
